<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE EMPRESAS</a>
 
  </nav>

 <div class="container">  
    <div class="row mt-25">          
   <table class="table table-borbered table-hover">
     <thead>
        <tr>
            <th>NO</th>
            <th>EMPRESA</th>
            <th>DIRECCION</th>
            <th>RTN</th>
            <th>TELEFONO</th>          
            <th>CORREO</th>
            <th>CONTACTO</th>
            <th>FECHA CREACION</th>
            <th>ESTADO</th>
  
        </tr>
  
      </thead>
    <tbody >
  
                <tr *ngFor="let User of TUser">
                    <td >{{User.idempresa}}</td>
                    <td >{{User.nombre}}</td>
                    <td >{{User.direccion}}</td>
                    <td >{{User.rtn}}</td>
                    <td >{{User.telefono}}</td>
                    <td >{{User.correo}}</td>
                    <td >{{User.contacto}}</td>
                    <td >{{User.fecha_creacion}}</td>
                    <td >{{User.estado}}</td>
                    <td>  <button  class="btn btn-danger">Eliminar</button> </td>
                    <td>
                        <button  class="btn btn-success">Actualizar</button></td>
                  </tr>
                  <button  class="btn btn-success">nuevo</button>
  
     </tbody>
   </table>
</div>
</div>

